.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > img {
    border-radius: 8px;
}

.container > section {
    margin: 16px;
    display: flex;
    flex-direction: column;
}